.DS_Store
node_modules
*.log*
*.local
.cache

temp
dist
coverage
lib-cov

*.tsbuildinfo

# VitePress
**/.vitepress/cache
**/.vitepress/dist

# Tencent workbuddy
.workbuddy/**

# AI skill superpower
.superpowers/**
plans/**
